.col-lg-3 {
    width: 33%;
    min-width: 230px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #aaa;
    text-align: center;
}

.outerImage {
    max-width: 100%;
}

.img-container {
    display: inline-block;
    position: relative;
}

.positioning {
    width: 33%;

    position: absolute;
    right: 33%;
    bottom: 25%;
}

.image {
    max-height: 200px;
    max-width: 300px;
}
